/* Define the scrollbar track */
::-webkit-scrollbar {
    width: 20px; /* width of the scrollbar */
  }
  
  /* Define the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #0af8e5; /* color of the thumb */
    border-radius: 5px; /* roundness of the thumb */
  }
  
  /* Optionally, define scrollbar track (background area) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
  }

  


  .circular{
    position: fixed;
    bottom: 80px;
    left: -20px;
    z-index: 2;
  }

  .king{
   height: 100%;
   width: 100%;
  
  }

  .text{
    text-decoration: none;
  }

